<div style="background-image: url('../../assets/city.jpg');background-attachment: fixed;;background-repeat: no-repeat, repeat;background-size: cover;padding-bottom: 5px;">

    <p style="text-align: right;
    margin-right: 1%;text-decoration: underline;">Designed and developed by Amrit</p>
    <div style="margin-left: 18%;">
        <h1 class="bounce-in-top">Equitas Data Science</h1>
        <button mat-raised-button class="scale-out-center" (click)="openDialog()">Login</button>
    </div>

    <div class="slide-out-left">
        <h3 style="text-decoration: underline;">Who we are?</h3>
        <p>
            Originally built inside of leading funds, EDS is a decision-support and analytics platform, which is fully configurable to your workflows and drives continuous improvement in your investment process. Our best-in-class platform consists of three modules
            across the entire investment lifecycle: Idea Generation, Portfolio Construction & Risk Management. Enveloping the platform is the EDS Vault, an intelligent database and analytics environment that improves decision-making by analyzing "why"
            your team succeeds and where the blind spots are. We deliver this flexible platform at a fraction of the cost & complexity of in-house or cobbled together solutions. And with EDS, every client has their own dedicated quant team - a partner
            who truly knows your fund, your process, and is always a click away to help you maximize results and answer questions
        </p>
    </div>

    <br>
    <br>
    <div class="slide-out-right">
        <h3 style="text-decoration: underline;">Our Core Values </h3>
        <p>

            Equitas Small Finance Bank established Equitas Development Initiatives Trust (EDIT) in 2008 to provide social services.[9] In 2018, the bank committed 5% of profits to EDIT.[10] EDIT established Equitas Gurukul Matriculation Schools in 2010. By 2017,
            the schools were employing 400 people, and educating 5,700 students primarily from backgrounds that offered limited opportunities.[9] EDIT also has a programme called Equitas Bird's Nest that seeks to help impoverished pavement dwellers. In
            March 2018, EDIT celebrated the milestone of improving the quality of life for 1,300 families in Chennai through this programme.[11]
        </p>
    </div>

</div>